<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>SignIn For Turbokino</title>
  <link rel="stylesheet" href="../assets/css/style.css" />
</head>
<body>
<div class="auth-container">
  <h2>Авторизация</h2>
  <div class="icon">👤</div>
  <form id="authForm" action="http://localhost:8888/auth/login" method="post">
    <input type="text" name="login" placeholder="Ваш логин" required>
    <input type="password" name="password" placeholder="Ваш пароль" required>
    <div class="remember-me-container">
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
      <label class="remember-me">Запомнить меня</label>
    </div>
    <button type="submit" id="submitAuth">Войти</button>
  </form>
  <div class="links">
    <a href="#">Регистрация</a>
    <a href="#">Восстановить пароль</a>
  </div>
</div>
</body>
</html>